body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202123;
    color: white; 
    position: relative;
}

body::before {
    content: '';
    background-image: url(./background/image-three.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.35;
}

.container-one,
.container-two,
.container-three,
.container-four,
.container-five {
    isolation: isolate;
}


.container-one,
.container-two,
.container-three,
.container-four,
.container-five {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    background-color: #202123;
}


.container-two,
.container-three,
.container-four,
.container-five {
    display: none;
}

.kitchen-div {
    width: 95%;
    max-height: 350px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 10px;
}

.inputs-div {
    display: grid;
    margin: 15px;
}


#inputs-div,
#username-input,
#phone-number-input,
#delivery-address-input {
    margin: 15px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 5px;
}

#username {
    color: #000000;
}

#search-field {
    height: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    border: none;
    background-color: goldenrod; 
    color: white;
    padding: 5px;
}

.kitchen {
    border-bottom: 1px solid goldenrod;
    height: 150px;
    width: 85%;
    border-radius: 10px;
    line-height: 0;
    padding: 10px;
    flex-shrink: 0;
}

.kitchen-name {
    color: goldenrod;
}

.random-pictures img {
    height: 150px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid goldenrod;
}

.random-pictures {
    width: 70%;
    align-self: center;
    margin: auto;
    padding-bottom: 15px;
}

.kitchen-image {
    height: 80%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}


.username input {
    width: 100%;
    height: 2rem;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 5px;
}

#username {
    text-align: center;
    color: goldenrod;
}

.username label {
    font-size: 16px;
}


button {
    height: 2rem;
    border-radius: 8px;
    background-color: orange;
    color: black;
    border: none;
    margin-top: 1.5rem;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    border: 1px solid orange;
}

.hi-div {
    border: 1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}

.hi-div .hi {
    margin: auto;
}



.name-and-others {
    line-height: 0;
    margin-left: 10px;
    margin-top: -12px;
}

.name-and-others p {
    color: #444654;
}


.restaurant,
.food-item {
    background-color: goldenrod;
    margin-top: 15px;
    padding: 5px;
    border-radius: 8px;
    
}

.restaurant:hover,
.food-item:hover {
    border: 1px solid white;
    color: white;
}

.order-button {
    border: 1px solid white;
}

.restaurant p,
.food-item p {
    color: white;
}

img {
    width: 100%;
    height: auto; 
    max-height: 260px; 
    border-radius: 10px;
}
